

#profile-page-header .card-profile-image {
    width: 160px;
    position: absolute;
    top: -160px;
    z-index: 1;
    left: 200%;
    cursor: pointer;
}

.image {
  width: 75px;
  height: 75px;
  margin: 10px;
}

.friend-container {
  display: flex;
  flex-flow: wrap;
}

/* Creating a tooltip */

[tooltip]:before {
    /* needed - do not touch */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;

    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;
}

[tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;

    /* customizable */
    background: lightgray;
    margin-top: -35px;
    margin-left: 20px;
}

[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
}

/* learn more */

/*.text-content{
    line-height: 1em;
}

.short-text {
    overflow: hidden;
    height: 2em;
}*/
